/* RESET RULES  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

/* LAYOUT  */

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* HEADER  */

.main-header {
    background-color: aquamarine;
    font-size: 2.5rem;
    padding: 1rem 0;
}

/* TASKS  */

.task-title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.tasks-section {
    padding: 50px 0;
}

.task-item {
    font-size: 1.2rem;
}

/* TASK ITEM  */

.task-item_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-state {
    background-color: red;
    display: block;
    line-height: 2.5rem;
    padding: 0 1.2rem;
}

.task-item:not(:first-child) {
    margin-top: 1rem;
}