/* RESET RULES  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

/* LAYOUT  */

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* header  */

.main-header {
    background-color: aquamarine;
    font-size: 2.5rem;
    padding: 1rem 0;
}